@using MVCNorthwndCRUD.Models

@model List<SupplierPO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}f

@if (TempData.ContainsKey("Message"))
{
    <h2>
        @TempData["Message"]
    </h2>
}


<h2>Index</h2>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Contact Name
            </th>
            <th>
                Contact Title
            </th>
            <th>
                Postal Code
            </th>
            <th>
                Country
            </th>
            <th>
                Phone Number
            </th>
            @if (Session["RoleId"] != null && ((int)Session["RoleId"] == 1 || (int)Session["RoleId"] == 2))
            {
                <th>
                    Actions
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (SupplierPO item in Model)
            {
                <tr>
                    <td>
                        @item.ContactName
                    </td>
                    <td>
                        @item.ContactTitle
                    </td>
                    <td>
                        @item.PostalCode
                    </td>
                    <td>
                        @item.Country
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @if (Session["RoleId"] != null && ((int)Session["RoleId"] == 1 || (int)Session["RoleId"] == 2))
                        {
                            @Html.ActionLink("Update  ", "Update", "NorthWnd", new { supplierID = item.SupplierId }, null)
                            @Html.ActionLink("  Delete", "Delete", "NorthWnd", new { supplierID = item.SupplierId }, null)
                        }
                    </td>
                </tr>
            }
        }
        else if (TempData.ContainsKey("Message"))
        {
            <tr>
                <td colspan="5">
                    @TempData["Message"]
                </td>
            </tr>
        }


    </tbody>
</table>
